.header {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  font-size: 1em;
}

.app {
  position: relative;
}

body {
  background-color: #5b5b5b;
}

.header--triple_dot {
  height: 50px;
  width: 50px;
  background-color: white;
  cursor: pointer;
}

.hamburgerMenu {
  width: 250px;
  background-color: gray;
  position: absolute;
}

.hamburger-item {
  display: flex;
  align-items: center;
  padding: 0px;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #3f3f3f;
  margin-bottom: 1px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
}

.hamburger-item:hover {
  background-color: violet;
}

.selected-item {
  background-color: blueviolet;
}

.lineItem {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
  padding: 0px;
  height: 30px;
  width: 100%;
  background-color: #3f3f3f;
  margin-bottom: 1px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding-left: 10px;
}

.lineItem:hover {
  background-color: rgba(255, 147, 235, 0.25);
}

.lineItem--probability {
  justify-self: center;
  width: 30px;
  margin-right: 25px;
  color: white;
  border: none;
  background-color: transparent;
  text-align: center;
}

.lineItem--delete {
  justify-self: center;
  background-color: purple;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: beige;
  padding: 5px;
  width: 80px;
}

.lineItem--item_class {
  color: white;
  border: none;
  background-color: transparent;
}

.add-item {
  margin-left: 10px;
  color: rgba(255, 205, 205, 0.796);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  padding: 2px;
}

.add-item:hover {
  background-color: rgba(255, 145, 145, 0.197);
}

/* remove underline */
a {
  text-decoration: none;
}

/* remove the arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error {
  background-color: pink;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.hamburger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hey {
  border-color: pink;
  border-width: 2px;
  background-color: red;
  margin: 20px;
}
